<!-- About Section -->
<section id="about">
    <div  class="container content-section text-center">
        <div id="about_change" class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <br/>
                <h2>About Me.</h2>
                <hr class="intro-divider">
                <br/>
                <font size="3px" face="Nunito, sans-serif">
                    <p><font size="5px">Hello,</font></p>
                    <p class="small-fa"><i class="fa fa-terminal"></i></p>
                    <p>My name is <font color="#3366CC">Xijiao</font></p>
                    <p>An undergrad of <font color="#3366CC">Columbia University</font> Class of 2021 </p>
                    <p>Studying <font color="#3366CC">Math</font> and <font color="#3366CC">Computer Science</font></p>
                    <p class="small-fa"><i class="fa fa-terminal"></i></p>
                    <p>Specializing in <font color="#3366CC">software engineering&nbsp; <i class="fa fa-code"></i> </font> and <font color="#3366CC">machine learning&nbsp; <i class="fa fa-area-chart"></i></font></p>
                    <p class="small-fa"><i class="fa fa-terminal"></i></p>
                    I enjoy <font color="#3366CC">photography&nbsp; <i class="fa fa-camera-retro" aria-hidden="true"></i> <font size="2px"> &nbsp; • &nbsp; </font> swimming&nbsp; <i class="fa fa-swimmer" aria-hidden="true"></i> <font size="2px"> &nbsp; • &nbsp; </font> yoga&nbsp;禪</font>
                    <p><br></p>
                    <p class="small-fa"><i class="fa fa-anchor"></i></p>
                    <br/>
                </font>
            </div>
        </div>
    </div>
</section>
