<!-- About Section -->
<section id="about">
    <div  class="container content-section text-center">
        <div id="about_change" class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <br/>
                <h2>About Me.</h2>
                <hr class="intro-divider">
                <br/>
                <font size="4px" face="Nunito, sans-serif">
                    <p><font size="5px">Hello,</font></p>
                    <p><i class="fa fa-terminal"></i></p>
                    <p>my name is <font color="#6633FF">Xijiao</font></p>
                    <p>an undergrad of <font color="#6633FF">Columbia University</font> Class of 2021 </p>
                    <p>studying <font color="#6633FF">Math</font> and <font color="#6633FF">Computer Science</font></p>
                    <p><i class="fa fa-terminal"></i></p>
                    <p>specializing in <font color="#CC33CC">software engineering <i class="fa fa-code"></i> </font> and <font color="#CC33CC">machine learning <i class="fa fa-area-chart"></i></font></p>
                    <p><i class="fa fa-terminal"></i></p>
                    i enjoy <font color="#3366CC">photography <i class="fa fa-camera-retro" aria-hidden="true"></i> <font size="2px"> &nbsp; • &nbsp; </font> swimming <i class="fa fa-swimmer" aria-hidden="true"></i> <font size="2px"> &nbsp; • &nbsp; </font> yoga 禪</font>
                    <p><br></p>
                    <p><i class="fa fa-anchor"></i></p>
                    <br/>
                </font>
            </div>
            <div class="col-md-3 col-md-push-9" align="center">
            <font size="2px">
            <p><a id="change_to_star_war" href="#" onClick="return false;">Star Wars Edition <i class="fa fa-space-shuttle"></i></a></p>
            </font>
            </div>
        </div>
    </div>
</section>
