<section id="experiences">
<!-- Page Content -->
{% for post in site.posts %}
    {% if post.category contains 'Experiences'%}
      {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
        {% if thecycle == 'odd' %}
        <div class="content-section-a">
            <div class="container">
                <div class="row">
                    <h2 class="category-heading alt-font">{{ post.category }}</h2>
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-sm-8">
                        <h2>{{ post.title }}</h2>
                        <div class="time">{{ post.time }}</div>
                        <div class="description">{{ post.description }}</div>
                        <div class="lead">{{ post.content }}</div>
                    </div>
                    <div class="col-lg-3 col-lg-offset-1 col-sm-4">
                        <h2 class="section-heading">&nbsp</h2>
                        <img class="img-responsive center-block" src="img/exp/{{ post.img }}" alt="">
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>
        <!-- /.content-section-a -->
        {% else %}

        <div class="content-section-b">

            <div class="container">
                <div class="row">
                    <h2 class="category-heading alt-font">{{ post.category }}</h2>
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <h2 class="section-heading">&nbsp</h2>
                        <img class="img-responsive center-block" src="img/exp/{{ post.img }}" alt="">
                    </div>
                    <div class="col-lg-8 col-lg-offset-1 col-sm-6">
                        <h2 class="section-heading">{{ post.title }}</h2>
                        <div class="lead">{{ post.content }}</div>
                    </div>
                </div>
        </div>
            <!-- /.container -->

        </div>
        <!-- /.content-section-b -->
        {% endif %}
    {% endif %}
{% endfor %}
</section>
