<section id="home">
    <!-- Header -->
    <div id="particles-js">
        <div id="particles-header" class="intro-header alt-font">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="intro-message">
                            <h1 class="alt-font">Xijiao</h1>
                            <h3 class="alt-font">wow hello</h3>
                            <hr class="intro-divider">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
    <!-- /.intro-header -->
    <!-- /.partical-js -->
</section>
